# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
- PyTorch
- Tensorflow
- Keras

| Data Science Tools      |
| ----------- |
| SageMaker      |
| AzureML   |
| Firehose |

Below are a few examples of evaluating arithmetic expressions in Python.

$$ x = {-b \pm \sqrt{b^2-4ac} \over 2a} $$

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

Objectives:
- Markdown table
- Markdown math experssion
- Running cells